<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}HUB3 API{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="/static/prism/prism.css" rel="stylesheet" />
    <style type="text/css">
        @media (min-width: 1200px) {
            .container {
                width: 800px;
            }
        }
        h1, h2, h3 {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        header {
            margin-top: 20px;
        }
        footer {
            border-top: 1px solid rgb(44, 62, 80);
            margin-top: 30px;
            padding-top: 30px;
            text-align: center;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% include 'navbar.twig' %}
        {% block content %}
        {% endblock %}
        <footer>
            <p>Provided by <a target="_blank" href="http://bigfish.software/">Big Fish Software</a></p>
            <p>Authored by <a target="_blank" href="https://twitter.com/ihabunek">@ihabunek</a></p>
        </footer>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/static/prism/prism.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Apply default styling to tables
            $('table').addClass('table table-striped table-hover table-condensed');
        });
    </script>
    {% block tail %}
    {% endblock %}
</body>
</html>
