<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}HUB3 API{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript">
        var tables, i;
        tables = document.getElementsByTagName('table')
        for (i = 0; i < tables.length; i++) {
            tables[i].className = 'table table-striped table-hover table-condensed';
        };
    </script>
</body>
</html>
